.container{
	border: 3px solid;
	width: 500px;
	height: 300px;
	margin-top: 150px;
	background: #ffa726 ;
}

#email2,#pass{
	margin-left: 15px;
	color: red;
}
#btn{
	margin-left: 180px;
}
#titulo{
	font-family: Home Simpson, cursive;
	font-style: oblique;
	font-size: 40px;
	margin-left: 85px;
}
body {
 background:#ffcc80;

}
#em, #pass2{
	color:#039be5;
	font-size: 17px;
}
#i-pass, #i-email{
	margin-right: 10px;
}

